.section.features {
  @include desktop {
    padding-bottom: 0;
  }
}
.features-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.features-list__item {
  width: 100%;
  @include tablet {
    width: calc((100% - 30px) / 2);
  }
  @include desktop {
    width: calc((100% - 90px) / 4);
  }
}
.features-list__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  height: 120px;

  background-color: var(--section-second-color);
  border-radius: 4px;
  @include mobile {
    max-width: 450px;
  }
}
.features-list__title {
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: var(--title-text-color);
  @include tablet {
    text-align: left;
  }
}
.features-list__text {
  font-size: 14px;
  line-height: 1.71;
}
